body {
  width: 100vw;
  margin: 0;
  font-family: Georgia, serif;
  background: grey;
  overflow-x: hidden;
    box-sizing: border-box;
}

p, blockquote {
  font-size: .9em;
  line-height: 1.6em
}



.container {

  text-align: center;
  padding: 1em;
  box-sizing: border-box;
}

.logo {
  width: 40%;
}

.welcoming{
  width: 80%;
}

header{

  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
}


section{
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
  width: 100%;
  background-color: #fff;
    box-sizing: border-box;
  font-size: 2em;
}


.introtext{
  margin-top: 10%;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #fff;
  text-align: center;
  font-size: 2em;
}

h1, .starting-container {
  width: 100%;
  background-color:#fff;
  margin-top: 15%;
  border-radius: 40px;
}
.starting-container img{
  width: 40%;
  margin-right: 8%;
  margin-top: 3%;
  margin-bottom: 20%;
}
.footer-container {
  width:100%;
  background: #3D444A;
  color: #fff;
}

li{
  list-style-type: none;
}

.exit-btn p{
  text-align: right;
  margin-right: 0em;
  cursor: pointer;
}

.cta{
  background: #009999;
  width: calc(100%-1em);
  display: block;
  color: #fff;
  border-radius: 20px;
  padding: .5em;
  text-decoration: none;
  font-size: 1.5em;
  margin: 5% auto 5%;
  cursor: pointer;
}




.bg-modal{
  overflow-x:hidden;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position:fixed;
  top: 0;

  display:none;
  justify-content: center;
  align-items:center;
}

.modal-content{
  display:none;
  width: 100%;
  height: 90%;
  background-color: white;
  border-radius: 4px;
  text-align:center;
  padding: 20px;
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;

}

.modal-content .list{
  position: relative;
  top: 20vh;
}

#clear1{
  position: relative;
  z-index: 10;
  top: 25vh;
  display: none;
  width: 60vw;
  margin-top: 1vh;
}
input {
	margin: 15px auto;
	display: block;
	width: 30vw;
	padding: 8px;
	border: 1px solid gray;
}


.wrong{
  display: none;
  margin-top: .5em;
  font-size: 1.1em;
  transition: display 2s;
  z-index: 100;
}
.close {
  position: absolute;
  z-index: 1;
  top: 12%;
  right: 5%;
  font-size: 42px;
  color: #333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
}
.close:hover {
  color: #666;
}

.quizpanel{
  position: absolute;
  z-index: 3;
  top: 60vh;
  display: flex;
}
.quizpanel .drags{
  box-sizing: border-box;
  width: 11vw;
  height: 11vw;
  text-align: center;
  display: none;
  font-size: 9vw;
  margin-left: .2em;
  margin-right: .2em;

  background-color: #0f0;
  border: 2px solid #000;
}

.quizblocks {
  position: relative;
  display: inline-block;
  width: 11vw;
  height: 11vw;
  margin: 5px;
  border: 1px solid #aaaaaa;
}
.quizblocks .drags{

  width: 11vw;
  height: 11vw;
  text-align: center;
  display: none;
  font-size: 9vw;

}

.popup{
  position: relative;
  display: inline-block;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 70vw;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -35vw;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.popuptext div{
  padding: .3em;
}
